.profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.profileLogin {

}
.userName {
    color: #e38443;
}
.showUsers {
    text-decoration: none;
    background-color: #262626;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    transition: .2s ease-in;
}
.showUsers:hover {
    background-color: #545454;
}