version: "3.9"

services:
  db:
    image: postgres
    container_name: pg_chat
    ports:
      - "5444:5432"
    volumes:
      - ./pg_data:/var/lib/postgresql/data/pgdata
    environment:
      POSTGRES_PASSWORD: 123
      POSTGRES_DB: socket_chat
      PGDATA: /var/lib/postgresql/data/pgdata
    restart: always

  server:
    image: express-socket-chat
    container_name: express_chat
    ports:
      - "5001:5000"
    environment:
      DB_HOST: db
      DB_PASSWORD: 123
    restart: always
    links:
      - db

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    ports:
      - "5050:80"