.chat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.messagesField {
    height: 400px;
    width: 500px;
    overflow-y: scroll;
}
.messageInput {
    width: 500px;
    height: 50px;
    resize: none;
    margin: 20px 0;
    border-radius: 10px;
    padding: 5px;
}
.sendMessageButton {
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #e38443;
    padding: 10px 20px;
    transition: .2s ease-in;
}
.sendMessageButton:hover {
    background-color: #e09b6b;
    cursor: pointer;
}