.usersList {
    display: flex;
    margin-top: 50px;
    width: 100%;
    justify-content: space-around;
}
.userItem {
    text-decoration: none;
    background-color: #262626;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .2s ease-in;
}
.userItem:hover {
    background-color: #545454;
}
.userLogin {
    color: #e38443;
}